/*底部*/
footer{
	display: flex;
	width: 100%;
	height: 42%;
	background: #eee;
	padding: 3% 0;
}
.footer-content{
	width: 84%;
	margin: 3vw auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* 底部左边开始 */
.footer_left{
	width: 43vw;
	height: 100%;
}
.footer_left>ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	height: 8%;
	margin-bottom: 8%;
}
.footer_left>ul li a{
	color: #000;
	font-size: 1.2vw;
}
.footer_left>ul li a:hover{
	color: #7C4E23;
}
.footer_left .txt{
	margin-bottom: 8%;
}
.footer_left .txt p{
	font-size: 1vw;
	color: #999;
	line-height: 1.5vw;
}
.footer_left .tel{
	margin-bottom: 2.5vh;
}
.footer_left .tel p{
	font-size: 1vw;
	color: #999;
	line-height: 1.5vw;
}
.footer_left .tel .tel-con{
	display: flex;
}
.footer_left .tel .tel-con span:nth-of-type(1){
	padding-right: 0.5vh;
	box-sizing: border-box;
}
.footer_left .tel .tel-con span:nth-of-type(2){
	padding-left: 0.5vh;
	box-sizing: border-box;
}
.footer_left .tel .tel-con a{
	padding: 0.5vh 1vw;
	margin-left: 1vw;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.footer_left .tel .tel-con a i{
	font-size: 1.2vw;
	padding-right: 0.5vw;
	box-sizing: border-box;
}
.footer_left .text{
	font-size: 0.8vw;
	color: #999;
	line-height: 1.5vw;
	
}
/*底部左边结束*/
/* 底部右边开始 */
.footer_right{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13vw;
	height: 100%;
}
.footer_right .img{
	text-align: center;
}
.footer_right .img img{
	display: inline-block;
	width: 8vw;
	margin-right: 0.4vw;
}
.footer_right .img p{
	color: #999;
	font-size: 1vw;
	margin-top: 0.2vw;
	text-align: center;
}
.footer_right a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 2.5vw;
	padding: 4% 0.5%;
	color: #D4C587;
	background: #fff;
	border-radius: 25px;
}
.footer_right a>i{
	display: inline-block;
	font-size: 1.2vw;
	margin-bottom: 5px;
	box-sizing: border-box;
}
.footer_right a span{
	display: inline-block;
	font-size: 12px;
	margin-bottom: 10px;
	font-size: 0.8vw;
	margin: 0.6vw;
	transform-origin: center center;
	transform: rotate(90deg);
}
/* 底部右边结束 */
/*底部*/
/*底部*/
