.box{
		width:90%;
		height:60px;
		margin:0 auto;
		min-width:1200px;
	}
	.logo{
		width:120px;
		height:60%;
		float:left;
		margin-top:10px;
	}
	.box2{
		width:50%;
		height:100%;
		float:left;
		margin-left:10%;
	}
	.box2 li{
		float:left;
		line-height:60px;
		color:#666666;
		font-size:16px;
		width:20%;
		text-align:center;
	}
	.box2 li:hover{
		color:#fff;
		background:#d4c587;
	}
	.box3{
		width:10%;
		height:100%;
		float:right;
	}
	.box3 li{
		width:30%;
		height:100%;
		line-height:60px;
		text-align:center;
		float:right;
	}
	@keyframes jump{
		from{
			transform: translateY(0);
		}
		to{
			transform: translateY(-20%);
		}
	}
	.jump{
		animation: jump 0.2s alternate infinite;
	}


    /*
	   Ï”∫’Ω·Œ≤
    */