body {
	background: #f3f3f3;
	font-size: 1vw;
}

.main {
	width: 67vw;
	margin: 0 auto;
	padding: 8.4vh 0 16.92vh;
}

.title {
	font-size: 1.17vw;
	color: #999;
	margin-bottom: 4.94vh;
}

.now,
.title b {
	font-weight: normal;
	color: #7C4E23;
}

.title a:hover {
	color: #7C4E23;
}

.main p:nth-child(2) {
	color: #7C4E23;
}

.main p:nth-child(3) {
	color: #666;
}

.main h1 {
	font-size: 3.14vw;
	font-weight: normal;
	margin: 1.95vh 0 6.5vh;
}

.hr {
	width: 100%;
	height: 0.2vh;
	background: #999;
}

.main-content {
	width: 70%;
	margin: 5.8vh auto 0;
}

.main .main-content p {
	font-size: 1.17vw;
	color: #666;
	text-indent: 2em;
}

.main .main-content img {
	width: 100%;
	display: block;
	margin: 5.2vh 0;
}

/* 导航栏部分 */
.box {
	width: 90%;
	padding: 0 5%;
	background: #fff;
	height: 10vh;
}

.logo {
	width: 10vw;
	height: 6vh;
	float: left;
	margin-top: 2vh;
}

.box2 {
	width: 45vw;
	height: 10vh;
	float: left;
	margin-left: 10vw;
}

.box2 li a {
	display: block;
	float: left;
	line-height: 10vh;
	color: #666666;
	font-size: 1.2vw;
	width: 9vw;
	text-align: center;
}

.box2 li a:hover {
	color: #fff;
	background: #d4c587;
}

.box3 {
	width: 10vw;
	height: 10vh;
	float: right;
}

.box3 li a i {
	width: 3vw;
	height: 10vh;
	line-height: 10vh;
	text-align: center;
	float: right;
	color: #000;
	font-size: 1.6vw;
}

@keyframes jump {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-15%);
	}
}

.jump {
	animation: jump 0.2s alternate infinite;
}

/* 导航栏部分 */

/*底部*/
footer{
	display: flex;
	width: 100%;
	height: 42%;
	background: #eee;
	padding: 3% 0;
}
.footer-content{
	width: 84%;
	margin: 3vw auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* 底部左边开始 */
.footer_left{
	width: 43vw;
	height: 100%;
}
.footer_left>ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	height: 8%;
	margin-bottom: 8%;
}
.footer_left>ul li a{
	color: #000;
	font-size: 1.2vw;
}
.footer_left .txt{
	margin-bottom: 8%;
}
.footer_left .txt p{
	font-size: 1vw;
	color: #999;
	line-height: 1.5vw;
}
.footer_left .tel{
	margin-bottom: 2.5vh;
}
.footer_left .tel p{
	font-size: 1vw;
	color: #999;
	line-height: 1.5vw;
}
.footer_left .tel .tel-con{
	display: flex;
}
.footer_left .tel .tel-con span:nth-of-type(1){
	padding-right: 0.5vh;
	box-sizing: border-box;
}
.footer_left .tel .tel-con span:nth-of-type(2){
	padding-left: 0.5vh;
	box-sizing: border-box;
}
.footer_left .tel .tel-con a{
	padding: 0.5vh 1vw;
	margin-left: 1vw;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.footer_left .tel .tel-con a i{
	font-size: 1.2vw;
	padding-right: 0.5vw;
	box-sizing: border-box;
}
.footer_left .text{
	font-size: 0.8vw;
	color: #999;
	line-height: 1.5vw;
	
}
/*底部左边结束*/
/* 底部右边开始 */
.footer_right{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13vw;
	height: 100%;
}
.footer_right .img{
	text-align: center;
}
.footer_right .img img{
	display: inline-block;
	width: 8vw;
	margin-right: 0.4vw;
}
.footer_right .img p{
	color: #999;
	font-size: 1vw;
	margin-top: 0.2vw;
	text-align: center;
}
.footer_right a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 2.5vw;
	padding: 4% 0.5%;
	color: #D4C587;
	background: #fff;
	border-radius: 25px;
}
.footer_right a>i{
	display: inline-block;
	font-size: 1.2vw;
	margin-bottom: 5px;
	box-sizing: border-box;
}
.footer_right a span{
	display: inline-block;
	font-size: 0.8vw;
	margin: 0.6vw;
	transform-origin: center center;
	transform: rotate(90deg);
}
/* 底部右边结束 */
/*底部*/
